// Specific CSS for your home-page
// Import page-specific CSS files here.

@import "../template.scss";

body {
  background-color: $background-color; /* Remplace par la couleur que tu veux */
}

.bg-overlay {
  background-color: $primary-color;
  border-radius: 0 0 $radius-md $radius-md;
  width: 100%;
  color: white;
}

.small-text {
  h2 {
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }

  p {
    font-size: 0.85rem;
    margin-bottom: 0.2rem;
  }
}

.container-home {
  width: 100%;
  background-color: $background-color;
}

.page-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.card-home {
  border-radius: $radius-md;
  box-shadow: $shadow-md;
  text-decoration: none;
  transition: transform 0.3s;
  justify-content: center;
  align-items: center;
  height: 240px; // hauteur totale de la carte ajustée
  color: $background-color;
  display: flex;
  flex-direction: column;
}

.card-category {
  height: 240px; // hauteur image ajustée
  width: 100%;   // largeur image 100% carte
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: $radius-md $radius-md 0 0;
}

.card-home:hover {
  transform: scale(1.02);
}

.card-category.no-image {
  background-color: $background-color;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
  height: 60%;
  width: 100%;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
}


.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.banner h1 {
  margin: 0;
  color: $background-color;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.container-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.container-search h1 {
  margin-top: 20px;
  font-size: 2rem;
  font-weight: bold;
}
