<div class="container">
  <h1 class="page-title">Logements populaires</h1>

  <div class="cards">
    <% @flats.each do |flat| %>
      <%= link_to flat_path(flat), class: "card-category no-image" do %>
        <div class="card-category-content">
          <h2><%= flat.name %></h2>
          <p><%= flat.address %></p>
          <p><strong><%= flat.price %> €</strong> / nuit</p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
